# Python 
__pycache__/
.ipynb_checkpoints
python_environment
# IDE
.idea/

# resources of the workshop
data/datasets/
data/images/output/
data/model.bin
data/model.xml
data/public
data/practice/output.mp4
